code[data-lang]::before {
    float: right;
    opacity: 0;
    font-family: $sans-serif;
    font-size: 90%;
    margin: -0.5rem -0.3rem 0 1rem;
    transition: 0.5s opacity;

    pre:hover > & {
        opacity: 0.5;
    }
}

@mixin code-languages($args...) {
    @each $abbr, $name in keywords($args) {
        code[data-lang=#{$abbr}]::before {
            content: $name;
        }
    }
}

@include code-languages(
    $rust: "Rust",

    $toml: "Toml",
    $json: "JSON",
    $yaml: "Yaml",
    $yml: "Yaml",

    $md: "Markdown",
    $markdown: "Markdown",
    $liquid: "Liquid",

    $js: "JS",
    $javascript: "JS",
    $jsx: "JSX",
    $ts: "TS",
    $typescript: "TS",
    $tsx: "TSX",
    $lua: "Lua",
    $sh: "Shell",
    $bash: "Shell",
    $fish: "Shell",

    $html: "HTML",
    $xhtml: "XHTML",
    $xml: "XML",
    $css: "CSS",

    $sql: "SQL",

    $c: "C",
    $cpp: "C++",
    $csharp: "C#",
    $go: "Go",
    $haskell: "Haskell",
    $java: "Java",
    $kotlin: "Kotlin",
    $ocaml: "OCaml",
    $perl: "Perl",
    $php: "PHP",
    $python: "Python",
    $py: "Python",
    $ruby: "Ruby",
    $scala: "Scala",
    $swift: "Swift",
);

@include media-small {
    code[data-lang]::before {
        display: none;
    }
}
