---
---

// fonts
$sans-serif: 'Nunito Sans', 'Noto Sans', 'Open Sans', 'Arial', sans-serif;
$monospace: 'JetBrains Mono', 'Hack', 'Consolas', monospace;

// colors
$main-bg: #171717;
$link-color: #73deff;
$scrollbar: #555 #292929;
$scrollbar-focused: #666 #292929;


@mixin media-small {
    @media (max-width: 700px) {
        @content;
    }
}
@mixin media-tiny {
    @media (max-width: 500px) {
        @content;
    }
}


@import 'syntax.css';
@import 'assets/css/asciidoc.scss';
@import 'assets/css/language-labels.scss';

html, body {
    margin: 0;
    font-size: 18px;
    background-color: $main-bg;
    color: white;
    font-family: $sans-serif;
}

::selection {
    background-color: rgba(21, 83, 255, 0.45);
    color: inherit;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 0.06em;
    text-underline-offset: 0.35rem;
}

em {
    color: #ffda73;
}

.bullet {
    margin: 0 0.5rem;
    opacity: 0.7;
}
.bullet::before {
    content: '•';
}

#nav, #main, #footer {
    padding: 0 1em;
}

#nav-inner, #main-inner, #footer-inner {
    max-width: 900px;
    margin: 0 auto;
}

#nav {
    background-color: #222;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 3rem;
}

#nav a {
    color: white;
    margin-right: 1rem;
    opacity: 0.85;
}
#nav a:hover, #nav a.active {
    opacity: 1;
}

#nav #home {
    color: #ffb732;
}
#nav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.45rem;
}
#nav a.active {
    text-decoration: underline 2px;
    text-underline-offset: 0.45rem;
}

#footer {
    background-color: #222;
    color: white;
    font-size: 0.9rem;
}

#footer-inner {
    padding: 1rem 0;
    line-height: 2rem;

    #license {
        margin-top: 1rem;
    }
}

#main {
    min-height: calc(100vh - 250px);
}

#main-inner {
    padding: 3rem 0 4rem 0;

    > *:first-child {
        margin-top: 0;
    }

    #meta {
        margin-bottom: 2rem;
        opacity: 0.8;
    }

    .mini-meta {
        margin-top: -1rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
        opacity: 0.8;
    }

    .post-preview {
        padding-bottom: 2rem;

        h2 {
            margin-top: 0;
        }

        .continue-reading {
            opacity: 0;
            transition: .2s;

            @include media-small {
                opacity: 1;
            }
        }
        &:hover .continue-reading,
        &:focus-within .continue-reading {
            opacity: 1;
        }
    }
}

#toc {
    font-size: 1.1rem;

    #toc-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    ul {
        margin: 0 0 0.2rem 0;
        padding: 0 0 0 1.2rem;
    }

    li {
        list-style-type: square;
        padding: 0;
    }
}

@include media-small {
    html, body {
        font-size: 16px;
    }
}

@include media-tiny {
    html, body {
        font-size: 15px;
    }
}
